*.class
*.log
*.ctxt
.mtj.tmp/
.metadata
bin/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath
/target/
hs_err_pid*
.factorypath